spring.application.name=oceandive-backend
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
DATABASE_URL → jdbc:postgresql://localhost:5432/oceandive
DATABASE_USER → tu_usuario_postgres
DATABASE_PASSWORD → tu_password
spring.jpa.hibernate.ddl-auto=none
spring.jpa.show-sql=true